%h1 Hi
%h3 Welcome to the Blocipedia Example

%p It's very basic. But it does the trick!

= link_to "Login", new_user_session_path
= link_to "Register", new_user_registration_path
- if current_user
  = link_to "Your Wikis Index", owned_wikis_user_path(current_user)